@import '../../../variables';

p,
a {
  font-size: 1.3rem;
}

.item {
  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    z-index: 2;
  }

  &__container {
    background-color: #1d1e1f;
    border-radius: 10px;
    display: flex;
    margin-bottom: 15px;
    width: 100%;
    z-index: 1;

    &_left {
      flex-grow: 1;
      padding: 1.5em 2em;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }

  &__title {
    color: $active-font-color;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  &__img {
    max-width: 500px;
    border-radius: 0 10px 10px 0;
    height: 100%;
    object-fit: contain;
    margin-right: 5%;
  }

  &__specie_title {
    text-transform: uppercase;

    &:hover {
      color: $active-font-color;
      font-weight: 300;
    }
  }
}

.icon {
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

.attributes {
  &_container {
    margin-top: 15px;
    display: flex;
    position: relative;
  }
}
