.items__wrapper {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  justify-content: space-evenly;
  margin: 1px;
  max-width: 1500px;
  padding: 3px;
  transition: 0.1s ease;
}

.item {
  &__wrapper {
    margin: 10px;
  }

  &__img {
    height: 350px;
    transition: all 0.3s;

    &:hover {
      transform: scale(105%);
      opacity: 0.9;
    }

    &__wrapper {
      overflow: hidden;
    }

    @media screen and (max-width: 300px) {
      height: 200px;
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  max-width: 300px;

  @media screen and (max-width: 300px) {
    flex-direction: column;
    gap: 5px;
  }
}
