@import '../../variables';

.error_button {
  background-color: $error;
  border-radius: 5px;
  box-shadow: 0 0 10px 10px $error;
  color: $active-font-color;
  cursor: pointer;
  font-family: $StarWars, sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: 0.5s ease;

  &:hover {
    background-color: #ff0000;
  }
}
