@import '../../variables';

.item {
  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    z-index: 2;
  }

  &__container {
    background-color: #1d1e1f;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 100%;

    &_left {
      padding: 1.65em 2em;
    }
  }

  &__title {
    color: $active-font-color;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  &__img {
    border-radius: 0 10px 10px 0;
    max-width: 300px;
  }
}

.icon {
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

p,
a {
  font-size: 1.3rem;
  margin-bottom: 3px;
}

a {
  text-decoration: underline;

  &:hover {
    color: $active-font-color;
    text-decoration-color: rgb(255, 255, 255);

    li {
      color: $active-font-color;
    }
  }
}

.attributes {
  &_title {
    font-weight: 800;
  }

  &_container {
    display: flex;
    padding: 0.5rem;
  }

  &_block {
    padding: 1rem;
  }
}

ul,
li {
  list-style: none;
  padding: 0;
}
