.item {
  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  &__container {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;

    &_left,
    &_right {
      padding: 1rem;
    }
  }

  &__title {
    font-size: 40px;
    text-transform: uppercase;
  }

  &__img {
    max-width: 300px;
  }

  &__weight {
  }
}
