.form {
  align-items: flex-end;
  display: flex;

  &__input {
    border: none;
    color: #000000;
    font-family: 'Urbanist', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans';
    font-size: 1em;
    height: 35px;
    padding: 7px;
    transition: width 0.5s;
    width: 170px;

    &:focus {
      outline: none;
      transition: width 0.5s;
      width: 230px;
    }

    @media screen and (max-width: 300px) {
      width: 100px;

      &:focus {
        transition: none;
        width: 100px;
      }
    }
  }

  &__button {
    background-color: #fff;
    border: 0;
    box-sizing: border-box;
    height: 35px;
    padding: 8px;
    width: 35px;

    &:hover {
      cursor: pointer;
    }
  }
}
